<script type="text/template" id="anysoft_cart_order_item_template">
  <%= name %> <%= price %>
  <button class="remove_from_cart">Remove</button>
</script>

<script type="text/template" id="anysoft_cart_checkout_template">
  <div id="complete_anysoft_cart"></div>
  <button class="continue">Contuine Ordering</button>
</script>

<script type="text/template" id="anysoft_cart_order_template">
  <div class="order_item_list"></div>
  <div>Total:<span class="order_total"></span></div>
  <div>Item Count: <span class="order_item_count"></span></div>
  <div class="order_controls">
    <button class="complete">Complete Order</button>
    <button class="destroy">Restart Order</button>
  </div>
</script>
